name: Terraform Plan

on:
  workflow_dispatch:

jobs:
  plan:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: env/dev

    steps:

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: |
            {
              "clientId": "${{ secrets.CLIENT_ID }}",
              "clientSecret": "${{ secrets.CLIENT_SECRET }}",
              "subscriptionId": "${{ secrets.SUBSCRIPTION_ID }}",
              "tenantId": "${{ secrets.TENANT_ID }}"
            }

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan \
          -var "subscription_id=${{ secrets.SUBSCRIPTION_ID }}" \
          -var "tenant_id=${{ secrets.TENANT_ID }}" \
          -var "client_id=${{ secrets.CLIENT_ID }}" \
          -var "client_secret=${{ secrets.CLIENT_SECRET }}" \
          -var-file="dev.tfvars"
